.RepositorySelector {
  position: relative;
  z-index: 15;
  display: flex;
  align-items: center;
  height: 100%;
}

.RepositorySelector:before {
  position: absolute;
  right: 0;
  bottom: -1px;
  left: 0;
  display: block;
  height: 3px;
  background: var(--redColor);
  content: '';
}

.RepositorySelector:after {
  position: absolute;
  left: 100%;
  display: block;
  width: 12px;
  height: 12px;
  margin-left: 6px;
  background-image: url('~images/arrow_up.svg');
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(180deg);
  content: '';
}

.RepositorySelector-Title {
  position: relative;
  font-size: 14px;
  line-height: 18px;
}

.RepositorySelector-Title:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  width: 18px;
  content: '';
}

.RepositorySelector-Label {
  font-weight: 500;
}

.RepositorySelector-HideControl {
  position: absolute;
  top: 8px;
  left: 50%;
  display: none;
  width: 42px;
  height: 4px;
  margin-left: -21px;
  background-color: var(--grayColor200);
  border-radius: 10px;
}

.RepositorySelector-Dropdown {
  position: absolute;
  top: 100%;
  z-index: -1;
  margin-top: 1px;
  box-shadow: 0 4px 16px var(--boxShadowColor);
  visibility: hidden;
}

/* // disabling box-shadow on top */
.RepositorySelector-Dropdown:after {
  position: absolute;
  top: -17px;
  right: -16px;
  left: -16px;
  display: block;
  height: 16px;
  background-color: var(--backgroundColor);
  content: '';
}

.RepositorySelector-Container {
  position: relative;
  box-sizing: border-box;
  min-width: 266px;
  padding: 14px 22px 18px;
  background: var(--backgroundColor);
}

.RepositorySelector-Repo {
  display: block;
  color: #000;
  line-height: 20px;
  text-decoration: none;
}

.RepositorySelector-Repo + .RepositorySelector-Repo {
  margin-top: 16px;
}

@media screen and (min-width: 769px) {
  .RepositorySelector:hover:after {
    transform: rotate(0);
  }

  .RepositorySelector:hover .RepositorySelector-Dropdown {
    visibility: visible;
  }
}

/*
@include s-screen {
  .RepositorySelector {
    &_isActive {
      .RepositorySelector-dropdown {
        visibility: visible;
      }
    }

    &-repo {
      & + & {
        margin-top: 24px;
      }
    }

    &-dropdown {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 10;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: flex-end;
      margin: 0;
      margin-top: 0;
      padding: 0;
      background-color: rgba(0, 0, 0, 0.5);
    }

    &-container {
      box-sizing: border-box;
      min-width: 266px;
      padding: 36px 16px 18px;
      /* background: var(--backgroundColor; *)/
      background-color: #fff;
      border-radius: 10px 10px 0 0;
    }

    &-hideControl {
      display: block;
    }
  }
}
*/
