.Navigation {
  display: flex;
  padding-top: 12px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--mediumSeparatorColor);
}


.Navigation-Item {
  color: var(--secondaryTextColor);
  font-size: 14px;
  line-height: 20px;
}

.Navigation-Item:last-child {
  color: var(--primaryTextColor);
  font-weight: 500;
}

.Navigation-Item:not(:last-child):after {
  margin-right: 8px;
  margin-left: 8px;
  content: '/';
}

/* @include s-screen {
  .Navigation {
    flex-wrap: wrap;

    &-item {
      line-height: 24px;
    }
  }
} */
