.Repository {
}

.Repository-Navigation {
  margin-bottom: 12px;
}

.Repository-Title {
  color: var(--primaryTextColor);
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.Repository-Branch {
  display: flex;
  align-items: baseline;
  margin-bottom: 10px;
}

.Repository-BranchSelector {
  margin-left: 4px;
}

.Repository-LastCommit {
  color: var(--primaryTextColor);
  font-size: 14px;
  line-height: 20px;
}

.Repository-Tabs {
  margin-top: 18px;
  margin-bottom: 16px;
  border-bottom: 1px solid var(--mediumSeparatorColor);
}

/* .Repository-search {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 16px;
  padding: 0 8px 8px;
  color: var(--secondaryTextColor);
  font-size: 14px;
  line-height: 20px;
  border: none;
  border-bottom: 1px solid var(--mediumSeparatorColor);
} */

.Repository-Search::placeholder {
  color: var(--grayColor400);
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.Repository-Search:focus {
  border-bottom-color: var(--grayColor400);
  outline: none;
}

.Repository-Readme {
  margin-top: 16px;
}

.Repository-Content {
  /* margin-top: 24px; */
}
/*
@include l-screen {
  .Repository {
    .Repository-title {
      max-width: 780px;
      font-size: 22px;
    }
  }
}

@include m-screen {
  .Repository {
    .Repository-title {
      max-width: 550px;
      font-size: 20px;
      line-height: 24px;
    }
  }
} */

/* @include s-screen {
  .Repository {
    .Repository-header {
      padding-top: 10px;
    }

    .Repository-tabs {
      margin-bottom: 0;
    }

    .Repository-search {
      margin-bottom: 0;
      padding: 8px 0;
    }

    .Repository-file {
      margin-top: 16px;
    }
  }
} */
